name: ci
on:
  push:
    branches:
      - 'zowe-1.23.0'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      
      - name: Login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: awharn
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        id:   build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            awharn/zowe-cli:zowe-1.23.0
            ghcr.io/awharn/zowe-cli:zowe-1.23.0
      
      - name: Image Digest
        run:  echo ${{ steps.build.outputs.digest }}